.keyboardViewer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
}
.keyboardWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  transform-origin: center center;
  transition: transform .4s;
  perspective: 1000px;
}

.item {
  position: absolute;
  --item-background: gray;
  width: var(--item-size);
  height: var(--item-size);
  --item-background: rgb(22, 22, 22);
  transition: transform .3s, opacity .3s;
}

.item.selected {
  --item-background: green;
}
.item.deactivated {
  opacity: 0.2;
}
.itemBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--item-background, rgb(22, 22, 22));
  width: 100%;
  height: 100%;
  transform-origin: left top;
  transition: background .2s;
}
.itemBackground::before {
  content: " ";
  display: block;
  position: absolute;
  border: var(--item-size) solid var(--item-background, gray);
  border-top: none;
  border-right: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-width: calc(var(--item-size) * sin(10deg));
  top: calc(0px - var(--item-size) * sin(10deg) + 0.5px);
  left: 0;
  right: 0;
  transition: background .2s;
}
.itemBackground::after {
  content: " ";
  display: block;
  position: absolute;
  border: var(--item-size) solid var(--item-background, gray);
  border-bottom: none;
  border-right: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-width: calc(var(--item-size) * sin(10deg));
  bottom: calc(0px - var(--item-size) * sin(10deg) + 0.5px);
  left: 0;
  right: 0;
  transition: background .2s;
}
.itemContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: calc(var(--item-size) * 0.7);
}