.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  --var-width: calc(100vw - 40px);
}

.keyboard {
  user-select: none;
  cursor: pointer;
  width: var(--var-width);
}

.keys {
  display: flex;
  list-style: none;
  margin: 0 0;
}

.keyboardItem {
  box-shadow: 0 -6px 10px rgb(255, 255, 255), 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 3em;
  width: calc(var(--var-width) * 0.0598);
  font-size: 2em;
  font-size: min(2em, calc(var(--var-width) * 0.0598 / 3));
  margin: calc(var(--var-width) * 0.0598 / 3 * 0.2);
  background-color: #f2f2f2;
  border-radius: calc(var(--var-width) * 0.0093458);
  text-align: center;
  line-height: 3em;
  line-height: calc(var(--var-width) * 0.0598);
  transition: all 0.25s;
  border: 1px solid transparent;
}

.keyboardItem.active, .keyboardItem:active {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  color: rgb(12, 164, 190);
  text-shadow: 0 0 calc(var(--var-width) * 0.0093458) #57c1f1;
}
.keyboardItem.selected {
  border-color: #000;
}

.one {
  color: #eb3f33;
}

.one li {
  width: 3.12em;
  width: calc(var(--var-width) * 0.0598 / 3 * 3.12);
}

.two {
  color: #df960e;
}

.three {
  color: #2b46df;
}

.four {
  color: rgb(57, 194, 75);
}

.five {
  color: #8919ca;
}

.six {
  color: #e73d09;
}

.esc,.prc {
  width: calc(var(--var-width) * 0.0598 / 3 * 3.8);
}

.back {
  width: calc(var(--var-width) * 0.0598 / 3 * 4.7);
}

.tab {
  width: calc(var(--var-width) * 0.0598 / 3 * 4.7);
}

.caps {
  width: calc(var(--var-width) * 0.0598 / 3 * 6.3);
}

.enter {
  width: calc(var(--var-width) * 0.0598 / 3 * 4.7);
}

.shift {
  width: calc(var(--var-width) * 0.0598 / 3 * 7.3);
}

.ctrl,
.win,
.alt,
.fn,
.menu {
  width: calc(var(--var-width) * 0.0598 / 3 * 4.1);
}

.space {
  width: calc(var(--var-width) * 0.0598 / 3 * 22.3);
}